a{
    color: #e54d42;
}

a:hover{
    color: #e36c6c;
}

.header .brand{
    width:auto !important;
}

.bg-red{
    background-color: #e54d42 !important;
}

.header .text-master{
    color: #ffffff !important;
}

.social-wrapper .social .jumbotron{
    /*height: 120vh !important;*/
}

.btn-primary, .btn-primary:focus{
    background-color: #e54d42;
    border-color: #e54d42;
    color: #fff !important;
}
.btn-primary:hover{
    background-color: #e36c6c;
    border-color: #e36c6c;
    color: #fff !important;
}
.btn-primary:active{
    background-color: #e36c6c;
    border-color: #e36c6c;
    color: #fff !important;
}

/* Secondary */
.secondary-sidebar{
    height: 470px !important;
    overflow-y: scroll;
}

.secondary-sidebar ul li a > .title, .secondary-sidebar .main-menu > li.active > a > .title{
    line-height: 20px;
}

.horizontal-app-menu .secondary-sidebar{
    margin-top: 5px;
}

.horizontal-app-menu .header .header-sm-height{
    height: 60px;
}

.horizontal-app-menu .header .title{
    font-weight: bold;
}

.horizontal-app-menu .menu-bar > ul > li:first-child{
    max-width: 240px;
    overflow: hidden;
}

#logo_estacion{
    margin-right: 8px;
}

.menu-bar ul li.active{
    border-bottom: 2px solid #e54d42;
}

.nav-tabs > li > a.active{
    background-color: #f94816;
    color: #ffffff;
    opacity: 0.6;
}

.nav-tabs > li > a.active:hover{
    background-color: #f94816;
    color: #ffffff;
    opacity: 1;
}

.nav-tabs-simple > li > a.active:after, .nav-tabs-simple > li > a:hover:after{
    height: 0px;
}

.horizontal-app-menu .menu-bar>ul>li.opening>.title, .horizontal-app-menu .menu-bar>ul>li.opening>#logo_estacion{
    position: relative;
    z-index: 10;
}

.horizontal-app-menu .menu-bar>ul>li.opening>.title .small{
    display: none;
}

.horizontal-app-menu .menu-bar > ul > li > ul{
    padding: 0 30px;
    padding-top: 75px;
    padding-bottom: 15px;
}

.horizontal-app-menu .menu-bar > ul > li.open > ul:before{
    top:70px;
    left:10px;
    width: calc(100% - 20px);
}

.horizontal-app-menu .menu-bar > ul > li.open > ul > li:hover > a{
    color: #000000;

}

#btn-add{
    padding-top: 0;
    margin-top: 5px;
    opacity:0.5;
}

#btn-add:hover{
    opacity:1;
}

@media (min-width: 992px){
    .horizontal-app-menu .menu-bar > ul > li > ul{
        left: -10px;
    }
}

