.login-wrapper{
    background-color: #e54d42 !important;
}

.btn-primary, .btn-primary:focus{
    background-color: #e54d42 !important;
    border-color: #e54d42 !important;
}

btn-primary:hover{
    background-color: #e36c6c !important;
    border-color: #e36c6c !important;
}