/*
* Color Tema
*/
.login-wrapper{
    background-color: #880015 !important;
}

.header{
    background-color: #880015 !important;
    color: #fff !important;
}

.text-master{
    color: #fff !important;
}

.header a{
    color: #fff !important;
}

.header ul li{
    color: #fff !important;
}

.page-sidebar{
    background-color: #2E3532 !important;
}
.page-sidebar .sidebar-header{
    background-color: #880015 !important;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu{
    background-color: #2E3532 !important;
}


.page-sidebar a:visited, .page-sidebar button:visited, .page-sidebar a:focus, .page-sidebar button:focus, .page-sidebar a, .page-sidebar button{
    color: #D2D4C8 !important;
}

.page-sidebar .sidebar-menu .menu-items li:hover > a, .page-sidebar .sidebar-menu .menu-items li.open > a, .page-sidebar .sidebar-menu .menu-items li.active > a{
    color: #E0E2DB !important;
}

.page-sidebar .sidebar-menu .menu-items li:hover > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.open > .icon-thumbnail, .page-sidebar .sidebar-menu .menu-items li.active > .icon-thumbnail{
    color: #E0E2DB !important;
}

.nav-tabs-simple > li > a:after{
    background-color: #880015 !important;
}

/*
* Override Pages default styles or create your own styles here
*/
.secondary-sidebar{
    background-color: #ffffff !important;
    width: 340px !important;
}
.secondary-sidebar ul.menu-items{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 10px);
    width: 100%;
}

.secondary-sidebar .menu-items > li{
    display: block;
    padding: 0;
    clear: right;
    cursor: pointer;
}

.secondary-sidebar .menu-items > li > a{
    font-family: Arial, sans-serif;
    display: inline-block;
    padding-left: 32px;
    min-height: 40px;
    line-height: 40px;
    font-size: 14px;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding-right: 0px;
    color: #85858e;
}

.secondary-sidebar .menu-items > li > a:hover{
    color: #880015;
    font-weight:700;
}

.secondary-sidebar ul.menu-items li.active a{
    color: #880015;
    font-weight:700;
}

.secondary-sidebar ul.menu-items li a > .title{
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 65%;
    color: #be1522;
}

.secondary-sidebar ul li.open > a{
    color: #ffffff;
}

.secondary-sidebar ul.menu-items li ul li a > .title{
    float: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%
}

.secondary-sidebar ul.menu-items > li > a > .arrow{
    float: right;
    padding-right: 30px;
}

.secondary-sidebar ul.menu-items > li ul.sub-menu > li{
    background: none;
    padding: 0px;
    margin-top: 1px;
}

.secondary-sidebar  .menu-items > li > ul.sub-menu li > a > .arrow.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: 'FontAwesome';
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
}

.inner-content{
    margin-left:340px !important;
}

.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu{
    padding-top: 0;
}

.scroll-wrapper{
    overflow-x: scroll !important;
    height: 100%;
}